name: CI

on:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        build_type: [Release, Debug]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure (CMake)
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DAHSSSP_BUILD_TESTS=ON

      - name: Build
        run: |
          cmake --build build --config ${{ matrix.build_type }} -- -j 2

      - name: Test
        run: |
          ctest --test-dir build --output-on-failure
